//- kế thừa header và footer của layout/default.pug
extends ../../layouts/default.pug
//- sử dụng lại mixins/box-head.pug cho title
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main
    .container.my-3 
        .row
            .col-12
                +box-head(pageTitle)
        
        +product-grid(products)
