extends ../../layouts/default.pug 
include ../../mixins/table-tree.pug
include ../../mixins/fillter-status.pug 
include ../../mixins/search.pug 
include ../../mixins/pagination.pug 
include ../../mixins/form-change-multi.pug 
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main    
    +alert-success(5000)
    h1(class="mb-4") Danh mục bài viết
    script(src="/admin/js/products.js")
    