//- Kế thừa layout chung
extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    .container.my-5
        .row.justify-content-center
            .col-lg-6
                h1.text-center Đổi mật khẩu
                form(action="/user/password/reset" method="POST")
                    div.form-group
                        label(for="password") Mật khẩu mới
                        input#password.form-control(type="password"  name="password" required)
                    div.form-group
                        label(for="confirmPassword") Xác nhận mật khẩu
                        input#confirmPassword.form-control(type="password" name="confirmPassword" required)
                    div.form-group
                        button.btn.btn-primary.btn-block(type="submit") Đổi mật khẩu
